body {
    /* cursor: url('cursors/90s.cur'), auto; */
    cursor: url('cursors/xmastree.cur'), auto; /* Funny */
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    color: rgb(34, 34, 180);
    text-decoration: none;
}

a:hover {
    color: #0783d6;
    text-decoration: underline;
    /* cursor: url('cursors/90s.cur'), auto; */
    cursor: url('cursors/xmastree.cur'), auto; /* Funny */
    /* cursor: url('cursors/soypoint.cur'), auto; */ /* Funny */
}

a:active {
    color: white;
    /* cursor: url('cursors/hourglass90s.cur'), auto; */
    /* cursor: url('cursors/hitmarker.cur'), auto; */
}

div {
    max-width: 70%;
}
div#resume {
    max-width: 80%;
}

p {
    cursor: url('cursors/cubs.cur'), auto;
}